.heading {

  text-align: center;
  margin: 20px;

  &--button-container {
    display: flex;
    justify-content: center;
    margin: 20px;

    .selected {
      background-color: #fff;
      color: #3498DB;
    }
  }

  &--button {
    display: flex;
    width: 100px;
    height: 50px;
    border: 1px solid #fff;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    border-radius: 5px;
  }

  &--search {
    height: 47.5px;
    width: 250px;
    background-color: #3498DB;
    border: 1px solid #fff;
    border-radius: 5px;
    font-size: 1em;
    color: #fff;
    text-transform: uppercase;
    padding: 0 10px;

    &::-webkit-input-placeholder {
      color: #fff;
    }
  }

  &--submit {
    height: 50px;
    width: 100px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #fff;
    color: #3498DB;
    font-size: 1em;
    text-transform: uppercase;
    margin-left: -10px;
  }
}

.forecast {
  width: 80%;
  margin: 0 auto;
  text-align: center;

  &--city {
    margin: 0;
    font-weight: normal;
  }
  &--today {
    margin: 0;
    text-align: center;
    font-weight: normal;
  }
  &--weather {
    margin: 0;
    text-transform: capitalize;
    font-weight: normal;
  }
  &--temp {
    margin: 0;
    font-weight: normal;
    font-size: 5em;
  }

  &--day, &--hour {
    display: flex;
    justify-content: space-between;
    align-items: center;

    span:nth-child(3):before {
      content: "High: ";
    }

    span:nth-child(4):before {
      content: "Low: ";
    }
  }
}

.hidden {
  display: none;
}
